<div class="container">
  <h1> Hi there, I'm <strong> Mohammad </strong> </h1> 
   <p> I grew up in India and now live in Toronto, Canada. I currently work as a Software Development Engineer at Amazon.com</p>
   <p>I have a bachelors degree in Computer Engineering from University of Toronto </p> 

   <p> In my spare time I like traveling and hacking away with new technologies. I am also an amateur photographer and I have been putting my Canon T3 to good use for some time now. </p>
  <hr>
  <h1>Work Experience</h1>
  <h2>Software Development Engineer, <%= icon('amazon') %></h2> 
  <p> <%=icon('calendar')%> May 2014 - Present | <%=icon('map-marker')%> Toronto, Canada</p>
  <ul> 
    <li> Design, develop and maintain large-scale, low latency services  </li>
  </ul>
  <hr>
  <h2> Student On Call, <%= image_tag('IBM.svg', size: "30x30")%> </h2>
  <p> <%=icon('calendar')%> September 2013 - April 2014 | <%=icon('map-marker')%> Markham, Canada</p>  
  <ul> 
    <li> Fullstack Ruby on Rails developer  </li>
  </ul>
  <hr>  
  <h2> Technical Enablement Specialist Intern, <%= image_tag('IBM.svg', size: "30x30")%> </h2>
  <p> <%=icon('calendar')%> May 2012 - August 2013 | <%=icon('map-marker')%> Markham, Canada</p>
  <ul> 
    <li> Fullstack Ruby on Rails developer </li>
  </ul>
  <hr>
  <h2> Design Center Supervisor, University Of Toronto </h2>
  <p> <%=icon('calendar')%> January 2012 - April 2012 | <%=icon('map-marker')%> Toronto, Canada</p>
  <hr>
  <h1>Education</h1>
  <h2> <%=icon('graduation-cap') %> BASc Computer Engineering, University of Toronto</h2>
  <p> <%=icon('calendar')%> September 2009 - June 2014 | <%=icon('map-marker')%> Toronto, Canada</p>
  <ul> 
    <li> Dean’s Honors List, Bachelor of Applied Science & Engineering at University of Toronto 2014 </li>
  </ul>
  <hr>
  <h2> High School, International Educational Academy </h2>
  <p> <%=icon('calendar')%> 2009 | <%=icon('map-marker')%> Hyderabad, India</p>