%body{"data-spy" => "scroll", "data-target" => ".navbar-fixed-top"}
  / Navigation
  %nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
          %i.fa.fa-bars
        %a.navbar-brand.page-scroll{:href => "/"}
          %i.fa.fa-play-circle
          %span.light MWAhmed
          
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse
        %ul.nav.navbar-nav
          / Hidden li included to remove active class from about link when scrolled up past about section
          %li.hidden
            %a{:href => "#page-top"}
          %li
            %a.page-scroll{:href => "#about"} About
          %li
            %a.page-scroll{:href => "#photography"} Photography
          %li
            %a.page-scroll{:href => "#contactme"} Contact
      / /.navbar-collapse
    / /.container
  / Intro Header
  %header.intro
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2
            %h1.brand-heading Welcome
            %p.intro-text
              
              %br 
              %br
              %br 
              
            %a.btn.btn-circle.page-scroll{:href => "#about"}
              %i.fa.fa-angle-double-down.animated
  / About Section
  %section#about.container.content-section.text-center
    .row
      .col-lg-8.col-lg-offset-2
        %h2 About Me
        %p
          I am a software developer from Toronto, Canada area and an amateur photographer in my spare time.
        
  / Download Section
  %section#photography.content-section.text-center
    .photography-section.container-fluid.hero
      %h2 Photography
      %h5 Collection from my 500px account
      #carousel500px.carousel.slide.carousel-fade
        / Wrapper for slides

        .carousel-inner
          - j = 0
          - @images.each do |i|
            - if j==0 
              - j = 1
              .item.active
                %img{:alt => "#{i['name']}", :src => "#{i['url']}"}
                  .carousel-caption
                    %h3= link_to("#{i['name']}", "#{i['500px_url']}", "target" => "_blank") 
                    %p Views: #{i['viewed']}| 
                    - if !i['date'].nil? 
                      %p #{i['date'].to_date.strftime("%m/%d/%Y")}|
                    %p &copy; MWAhmed
            - else
              .item 
                %img{:alt => "#{i['name']}", "data-lazy-load-src" => "#{i['url']}"}
                  .carousel-caption
                    %h3= link_to("#{i['name']}", "#{i['500px_url']}", "target" => "_blank") 
                    %p Views: #{i['viewed']}| 
                    - if !i['date'].nil? 
                      %p #{i['date'].to_date.strftime("%m/%d/%Y")}|
                    %p &copy; MWAhmed


        / Controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel500px"}
          %span.icon-prev
        %a.right.carousel-control{"data-slide" => "next", :href => "#carousel500px"}
          %span.icon-next    

        
          
  / Contact Section
  %section#contactme.container.content-section.text-center
    .contact-section.row
      .col-lg-8.col-lg-offset-2
        %h2 Contact
        %p 
          %a{:href => "mailto:wasiuddin.ahmed@hotmail.com"} wasiuddin.ahmed@hotmail.com
        %ul.list-inline.banner-social-buttons
          %li
            %a.btn.btn-default.btn-lg{:href => "https://github.com/MohammadWAhmed", :target => "blank"}
              %i.fa.fa-github.fa-fw
              %span.network-name Github
          %li
            %a.btn.btn-default.btn-lg{:href => "https://www.linkedin.com/in/mohahmed", :target => "blank"}
              %i.fa.fa-linked-in.fa-fw
              %span.network-name LinkedIn