<div id="world-map"></div>
<%@img_with_loc.keys.each do |k| %>
<button id="<%=k.join('-')%>" class="btn btn-default hidden" data-toggle="modal" data-target=".gallery-<%=k.join('-')%>">Large modal</button>
  <div class="modal fade gallery-<%=k.join('-')%>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="carousel-<%=k.join('-')%>" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src=<%=@img_with_loc[k][0][0]%>>
                        <div class="carousel-caption">
                            <%=@img_with_loc[k][0][1]%>
                        </div>
                    </div>
                    <%@img_with_loc[k][1..-1].each do |el| %>
                      <div class="item">
                          <img class="img-responsive" src=<%=el[0]%>>
                          <div class="carousel-caption">
                              <%=el[1]%>
                          </div>
                      </div>
                    <%end%>
                </div>
                <a class="left carousel-control" href="#carousel-<%=k.join('-')%>" role="button" data-slide="prev">
                    <span class="fa fa-long-arrow-left fa-2x"></span>
                </a>
                <a class="right carousel-control" href="#carousel-<%=k.join('-')%>" role="button" data-slide="next">
                    <span class="fa fa-long-arrow-right fa-2x"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<%end%>
<script type="text/javascript"> 
   jQuery(document).ready(function() {
       jQuery('#world-map').empty();

       var modal_options = {
           "backdrop": "static"
       }
       var markers = [];


       <%@img_with_loc.keys.each do |k| %>
           var location = {               
               latLng: [<%=k[0]%>, <%=k[1]%>],
               name: "",
               key: "<%=k.join('-')%>"
           };
           markers.push(location);
       <%end%>

       jQuery('#world-map').vectorMap({
           map: 'world_mill_en',
           scaleColors: ['#C8EEFF', '#0071A4'],
           normalizeFunction: 'polynomial',
           hoverOpacity: 0.7,
           hoverColor: false,
           markerStyle: {
               initial: {
                   fill: '#9172EC',
                   stroke: '#383f47'
               }
           },
           backgroundColor: '#383f47',
           markers: markers,
           onMarkerClick: function(e, index) {
              var id = "#" + markers[index].key;
              $(id).trigger( "click" );
           }
       });
       jQuery('g circle').tooltip();
   });
     
</script>