<h1> Images classified by location</h1>
<p> Click on a marker to start a slideshow of images taken nearby that particular location. Scroll accordingly to access zoom features of the map </p>
<%= social_share_button_tag() %> 
<div id="world-map"></div>
<% @img_with_loc.keys.each do |k| %>  
  <div id="<%=k.join('-')%>" style="display: none;">
      <div id="gallery-<%=k.join('-')%>">
        <% @img_with_loc[k].each_with_index do |el, index| %>
          <a id="img<%=k.join('-')%><%=index%>" href="<%=el[0]%>"  title="<%=el[1]%>">
            <img class="galler-image" src=<%=el[0]%>/>
          </a>
        <% end %> 
      </div>
  </div>  
<%end%>
<script type="text/javascript"> 
   jQuery(document).ready(function() {
       jQuery('#world-map').empty();

       var modal_options = {
           "backdrop": "static"
       }
       var markers = [];


       <%@img_with_loc.keys.each do |k| %>
       var location = {
           latLng: [<%=k[0]%>, <%=k[1]%>],
           name: "",
           key: "<%=k.join('-')%>"
       };
       markers.push(location);
       <%end%>

       jQuery('#world-map').vectorMap({
           map: 'world_mill_en',
           scaleColors: ['#C8EEFF', '#0071A4'],
           normalizeFunction: 'polynomial',
           hoverOpacity: 0.7,
           hoverColor: true,
           markerStyle: {
               initial: {
                   fill: '#3EA055',
                   stroke: '#000'
               }
           },
           backgroundColor: '#566D7E',
           markers: markers,
           onMarkerClick: function(e, index) {
               var galleryId = "#gallery-" + markers[index].key;
               var imgId = "#img" + markers[index].key + "0";
               $(galleryId).each(function() {
                   $(this).magnificPopup({
                       removalDelay: 300,
                       mainClass: 'mfp-with-zoom mfp-img-mobile',
                       image: {
                           verticalFit: true,
                           titleSrc: function(item) {
                               return item.el.attr('title');
                           }
                       },
                       delegate: 'a',
                       type: 'image',
                       gallery: {
                           enabled: true
                       },
                       zoom: {
                           enabled: true,
                           duration: 300,
                           opener: function(element) {
                               return element.find('img');
                           }
                       }
                   });
               });
               $(imgId).trigger('click');
               
           }
       });
       jQuery('g circle').tooltip();
   });
     
</script>