<script type="text/javascript">
$(document).ready(function() {
  
  $('.galler-image').each(
    function(){
        var src = $(this).attr('src');
        this.src = src.slice(0,-1);
  });

  $("#gallery").justifiedGallery({
        'usedSuffix': 'lt240',
        'justifyLastRow': false,
        'rowHeight': 200,
        'fixedHeight': false,
        'captions': false,
        'margins': 1
    });

  $('#gallery').each(function() { 
    $(this).magnificPopup({
        removalDelay: 300,
        mainClass: 'mfp-with-zoom mfp-img-mobile',
        image: {
          verticalFit: true,
          titleSrc: function(item) {
            return item.el.attr('title');
          }
        },
        delegate: 'a',
        type: 'image',
        gallery: {
          enabled:true
        },
        zoom: {
          enabled: true,
          duration: 300, 
          opener: function(element) {
            return element.find('img');
          }
        }
    });
  });

});
</script>
<pre> Related: <%= link_to "Map view", map_path, :class => "btn btn-custom"%></pre> 

<div class="container fluid"> 
    
    <h1> Photography </h1>
    <p>I do photography as a hobby and put some of the popular ones here. </p>
    <p>I shoot with Canon EOS Rebel T3, EF-S 18-55mm, EF-S 55-250mm.</p>
  <div class="text-right"> 
    <%= paginate @images %>
  </div>
  <div id="gallery" >
    <% @images.each do |img| %>
      <a href=<%=img["url"] %>  alt='<%=img["title"] %>' title='<%=img["title"] %>'>
          <img class="galler-image" src=<%== img["url"] %>/>
      </a>
    <% end %> 
  </div>
  <div class="text-right"> 
    <%= paginate @images %>
    <%= social_share_button_tag() %> 
  </div>
</div>
