<script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.0/jquery.justifiedGallery.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.0/css/justifiedGallery.min.css">

<script type="text/javascript">
$(document).ready(function() {
  $("#gallery").justifiedGallery({
        'usedSuffix': 'lt240',
        'justifyLastRow': false,
        'rowHeight': 120,
        'fixedHeight': false,
        'captions': false,
        'margins': 1
    });

  $('#gallery').each(function() { // the containers for all your galleries
    $(this).magnificPopup({
        removalDelay: 300,
        mainClass: 'mfp-with-zoom mfp-img-mobile',
        image: {
          verticalFit: true,
          titleSrc: function(item) {
            return item.el.attr('title');
          }
        },
        delegate: 'a', 
        type: 'image',
        gallery: {
          enabled:true
        },
        zoom: {
          enabled: true,
          duration: 300, 
          opener: function(element) {
            return element.find('img');
          }
        }
    });
  });
});

</script>

<h1> Generate Gallery </h1>
<%= form_tag "album_generator", :id => "url_form" do %>
  URLs: <%= text_area_tag "urls", @url_text%>
  <br />
  <%= submit_tag "Submit" %>
<% end %>
<hr> 
<h1> Gallery </h1>
<%if !@bitly.nil? %>
<h3> Short URL: @bitly.short_url</h3>
<%end%>
<div id="gallery">
<h1> <%=sanitize @urls %> </h1>
  <% @urls.each do |url| %>
    <a href=<%=url%>>
        <img class="galler-image" src=<%=url%>/>
    </a>
  <% end %>

</div>