!!!
%html.no-js{lang: 'en'}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %meta{:content => "01-c8ej7l0rhi5wnzfkvgakn7p3i0cbhiyl7tp1rbf-v7n2ihlo6n5m3ojfc75tukm62238-xkpmapppzo9fx6drj2582dpdtkvra-egibqcm6yuw-pd3hlf883onru2", :name => "norton-safeweb-site-verification"}/
    %title= @title.blank? ? "MWAhmed" : @title
    %meta{content: (content_for?(:description) ? yield(:description) : I18n.t('brand.name')), name: 'description'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      = javascript_include_tag 'ie', 'data-turbolinks-track' => true
    = javascript_include_tag 'head', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    /[if lt IE 9]
      = javascript_include_tag 'ie'
    
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico' 
    = yield :head
    = render 'layouts/airbrake'
  %body{class: "controller__#{controller_name}_action__#{action_name}"}
    = render 'layouts/navigation'
    = render 'layouts/image_protection'
    .container-fluid.fill
      .errors__container
        = render 'layouts/messages'
      = yield
      %footer.page__footer
        = render 'layouts/footer'
    = render 'layouts/analytics'
    = render 'layouts/javascripts'
